<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <p class="navbar-brand">Today I Have</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

      <% if user_signed_in? %>
        <%= link_to "Home", root_path, class: "nav-link", aria_current: "page" %>
        <%= link_to "New Updates", new_post_path, class: "nav-link" %>
        <a class="nav-link" href="#">Tags</a>
        <a class="nav-link" href="#">My Updates</a>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>

      </div>
    </div>
  </div>
</nav>
