<h1>Today I have</h1>

<h2>Today</h2>
<% @posts.each do |post| %>
  <% if post.created_at.strftime('%x') == Time.now.strftime('%x') %>
    <%= render partial: 'posts', locals: {post: post} %>
  <% end %>
<% end %>

<!--
<h2>Yesterday</h2>
<% @posts.each do |post| %>
  <% if post.created_at.strftime('%x') == Date.yesterday.strftime('%x') %>
    <%= render partial: 'posts', locals: {post: post} %>
  <% end %>
<% end %>
-->

<% @posts_by_month.each do |mon_post| %>
  <h2><%= Date::MONTHNAMES[mon_post.first] %></h2>
  <% mon_post.last.each do |post| %>
    <%# unless post.created_at.strftime('%x') == Date.yesterday.strftime('%x') %>
      <%= render partial: 'posts', locals: {post: post} %>
    <%# end %>
  <% end %>
<% end %>
