<% @post.tags.each do |tag| %>
  <p><%= tag %></p>
<% end %>
<p><%= @post.content %></p>
<p class="text-muted"><em>Written by <%= @post.user.email %> on <%= @post.created_at.strftime('%v') %></em></p>
